.header {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 3%;
    padding-top: 5%;
}
input {
    color: grey;
    width: 70%;
}

button, input {
    font-size: 1.2rem;
}

.logo {
    display: flex;
    justify-content: center;
}